<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="jquery-3.3.1.min.js"></script>
</head>
<body>
    <table align="center">
        <tr>
           <td>登录名：</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td align="center"><button type="button" onclick="login()">登录</button></td>
        </tr>
    </table>
    <script type="text/javascript">

        function login() {
            $.ajax({
                type: "post",
                dataType: "json",
                url: '/login',
                data: '',
                success: function (data) {
                    var token = data.token;
                    alert(token);
                    if (data != "") {
                        localStorage.setItem("token", token);
                        window.location.href = "/hello";
                    }
                }
            });
        }
    </script>
</body>
</html>